<!DOCTYPE html>
<html lang="en">
  <div class="nav-container">
    <nav>
      <ul>
        <li><a href="/">Homepage - All Posts</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contacts">Contacts</a></li>
        <li><a href="/posts/create">New Post</a></li>
      </ul>
    </nav>
  </div>
</html>
