<!DOCTYPE html>
<html lang="en">
  <!--Place head in partials
  Use 'include' to reference it-->
  <%-include('./partials/head')%>

  <body>
    <div class="heading-container"><h1>404</h1></div>
    <!--Place nav in partials
  Use 'include' to reference it-->
    <%-include('./partials/nav')%>

    <!--404 Content-->

    <!--Place footer in partials
  Use 'include' to reference it-->
    <%-include('./partials/footer')%>
  </body>
</html>
