<!DOCTYPE html>
<html lang="en">
  <!--Place head in partials
  Use 'include' to reference it-->
  <%-include('./partials/head')%>

  <body>
    <div class="heading-container"><h1>Contacts</h1></div>
    <!--Place nav in partials
  Use 'include' to reference it-->
    <%-include('./partials/nav')%>

    <!--Contact Content-->
    <div class="contact-content">
      <h3>You can contact me at 1(868)123-456.</h3>
    </div>

    <!--Place footer in partials
  Use 'include' to reference it-->
    <%-include('./partials/footer')%>
  </body>
</html>
