.heading-container {
  display: flex;
  justify-content: center;
}

.nav-container {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  gap: 30px;
}

.post-body {
  margin-bottom: 40px;
}

.post-form {
  display: flex;
  justify-content: center;
}

.form-elements {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

textarea {
  width: 200px;
  height: 120px;
}

.btn-container {
  text-align: center;
}
.create-post-button {
  text-align: center;
  width: 100px;
  background: red;
  padding: 5px;
  border: 0;
  border-radius: 100px;
  font-size: 20px;
  cursor: pointer;
}

.footer-container {
  display: flex;
  justify-content: center;
}
