<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <div class="heading-container">
      <h1>Create Posts</h1>
    </div>

    <%- include('../partials/nav.ejs') %>

    <div class="post-form">
      <form action="/posts" method="post">
        <div class="form-elements">
          <label for="title">Post Title</label>
          <input type="text" name="title" id="title" required />
        </div>

        <div class="form-elements">
          <label for="snippet">Post Snippet</label>
          <input type="text" id="snippet" name="snippet" required />
        </div>

        <div class="form-elements">
          <label for="body">Post Body</label>
          <textarea id="body" name="body" required></textarea>
        </div>
        <div class="btn-container">
        <button class="create-post-button">Submit</button>
        </div>
      </form>
    </div>

    <div><%- include('../partials/footer') %></div>
  </body>
</html>
